# Игнорировать папку node_modules (если используете Node.js)
node_modules/

# Игнорировать системные файлы
.DS_Store

# Игнорировать файлы редактора (например, VSCode)
.vscode/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать папку сборки (если используете сборщики)
dist/
build/

# Игнорировать файлы окружения (например, .env)
.env
